fastapi[standard]>=0.100.0
openai>=1.0.0
python-dotenv>=1.0.0
pandas>=2.0.0
tqdm>=4.65.0
huggingface_hub>=0.20.0
chromadb>=0.4.0
fastembed>=0.2.0

# LangChain & friends (for RAG)
langchain-core>=0.3.0
langchain-openai>=0.3.0
langchain-huggingface>=0.1.0
langchain-chroma>=0.1.0


SpeechRecognition>=3.10.0